{% extends 'base.html.twig' %}

{% block title %}Nos Produits{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3>Filtrer</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-9">
            <h1>Nos Produits</h1>
            <div class="row product-container">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="product-item-custom">
                        <a href="{{ path('product', { 'slug' : product.slug } ) }}">
                        <div class="card border-warning">
                            <img class="card-img-top" src="/uploads/{{ product.illustration }}" alt="{{ product.name }}">                        
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <span class="product-sub">{{ product.subtitle }}</span>
                                <span class="product-price">{{ (product.price / 100)|number_format(2, ',', '.' ) }} €</span>          
                            </div>
                        </div>
                        </a> 
                    </div>
                </div>
<!--
                <div class="col-md-4">
                    <div class="product-item-custom">
                        <a href="{{ path('product', { 'slug' : product.slug } ) }}">
                            <img class="img-fluid" src="/uploads/{{ product.illustration }}" alt="{{ product.name }}">
                            <h5>{{ product.name }}</h5>
                            <span class="product-sub">{{ product.subtitle }}</span>
                            <span class="product-price">{{ (product.price / 100)|number_format(2, ',', '.' ) }} €</span>
                        </a>
                    </div>
                </div>
-->
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
