{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="row td-light">
        <div class="col-md-5">
            <img class="img-fluid" src="/uploads/{{ product.illustration }}" alt="{{ product.name }}">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-page-price">{{ (product.price / 100)|number_format(2, ',', '.') }} €</span>
            <hr>
            <p>{{ product.description }}</p>
            <a class="btn btn-warning" href="{{ path('add_to_cart', {'id': product.id }) }}">Ajouter Au Panier</a>
        </div>
    </div>
    <hr>
    <div class="td-light mt-3">
        <h3>Nos Meilleures Ventes</h3>
        <p>Decouvrez nos articles les plus vendus:</p>
    </div>
    <div class="row">
        {% for product in products %}
            <div class="col-lg-3">
                {% include "product/single_product.html.twig" %}
            </div>
        {% endfor %}
{% endblock %}
