{% extends 'base.html.twig' %}

{% block title %}Confirmation De Ma Commande{% endblock %}

{% block content %}
<div class="text-center td-light">
    <h2>Confirmation De Ma Commande</h2>
        <p>
            Bonjour <strong> {{ order.user.firstname }} {{ order.user.lastname }} </strong>, <br> <br>
            Nous vous remercions pour votre commande n° <strong> {{ order.reference }} </strong>. <br>
            Une confirmation vient de vous etre envoyée a l'adresse <strong> {{ order.user.email }} </strong>.
            <hr>
            Votre Commande sera livrée par <strong> {{ order.carrierName }} </strong> a l'adresse suivante : <br>
            {{ order.delivery|raw }}
            <hr>
            Pour suivre votre commande rendez-vous dans votre <a href="{{ path('account_order') }}">Compte</a>.
        </p>
</div>
{% endblock %}
